<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>showAPIs</title>
  <link rel="stylesheet" type="text/css" href="../css/GlobalStyle.css">
  <link rel="stylesheet" type="text/css" href="../css/ComponentStyle.css">
  <script src='./js/ButtonFunction.js'></script>
</head>
<body>
<div id="container">
  <div id="title">
    <h1 id="titleContext">Stack Overflow</h1>
  </div>
  <div id="mainContent">
    <div id="LBox">
      <div id="menu">
        <ul id="buttonList">
          <button id="API" class="ui-button" onclick="getMostAPI()">GetMostDiscussedApi</button>
        </ul>
      </div>
    </div>
    <div id="RBox" class="RBox">
      <div id="information" class="information">
      </div>
    </div>
  </div>
</div>

</body>
</html>